@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@keyframes firefly-move {
    0% {
        opacity: 0;
        transform: scale(0) translate(0, 0);
    }

    20% {
        opacity: 0.8;
        transform: scale(1) translate(4px, -4px);
    }

    50% {
        opacity: 0.4;
        transform: scale(0.8) translate(-6px, 8px);
    }

    80% {
        opacity: 0.8;
        transform: scale(1) translate(8px, -8px);
    }

    100% {
        opacity: 0;
        transform: scale(0) translate(0, 0);
    }
}